<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Edit book</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body onload="fetchBook()">
<form id="edit-form" action="edit.html" >
    <h3 th:text = "#{book-update-form-header}">Book Info:</h3>

    <div class="mb-3">
        <label for="book-id-input" th:text="#{book-field-id} + ':'">ID:</label>
        <input id="book-id-input"  readonly="readonly" name="id" type="text"/>
    </div>

    <div class="mb-3">
        <label for="book-title-input" th:text="#{book-field-title} + ':'">Title:</label>
        <input id="book-title-input" name="title" type="text" value="NewBook"/>
    </div>

    <div class="mb-3">
        <label for="book-author-input" th:text="#{book-field-author} + ':'">Author:</label>
        <select id="book-author-input" name="authorDto">
        </select>
    </div>

    <div class="mb-3">
        <label for="book-genre-input" th:text="#{book-field-genre} + ':'">Genre:</label>
        <select id="book-genre-input" name="genreDto">
        </select>
    </div>


    <button type="button" onclick="updateBook()" th:text="#{save-button-caption}" class="btn btn-success btn-lg">Save</button>
    <a href="list.html" th:href="@{/}"><button type="button" th:text="#{cancel-button-caption}" class="btn btn-secondary btn-lg">Cancel</button></a>

</form>
<script>

    function updateBook() {
        const id = document.getElementById("book-id-input").value;
        const title = document.getElementById("book-title-input").value;
        const authorId = document.getElementById("book-author-input").value;
        const genreId = document.getElementById("book-genre-input").value;
        const bookUpdateDto = { id: id, title: title, authorId: authorId, genreId: genreId }

        fetch("/api/v1/books", {
            method: "PUT",
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(bookUpdateDto)})
            .then(response => response.json())
            .then(function () {
                location.href = "/";
            });
    }

    function renderAuthorsInfo(authors, book) {
        authors.forEach(author => {
            const block = document.getElementById("book-author-input");
            console.log(JSON.stringify(book));
            if (book.authorDto.id === author.id) {
                block.add(new Option(author.fullName, author.id, false, true));
            } else {
                block.add(new Option(author.fullName, author.id));
            }
        });
    }

    function renderGenresInfo(genres, book) {
        genres.forEach(genre => {
            const block = document.getElementById("book-genre-input")
            if (book.genreDto.id === genre.id) {
                block.add(new Option(genre.name, genre.id, false, true));
            } else {
                block.add(new Option(genre.name, genre.id));
            }
        });
    }

    function renderBookInfo(book) {
        const id = document.getElementById("book-id-input");
        id.value = book.id;
        const title = document.getElementById("book-title-input");
        title.value = book.title;

        fetch("/api/v1/authors")
            .then(response => response.json())
            .then(authors => renderAuthorsInfo(authors, book));

        fetch("/api/v1/genres")
            .then(response => response.json())
            .then(genres => renderGenresInfo(genres, book));
    }

    function fetchBook() {
        const params = new URLSearchParams(window.location.search);
        const id = params.get("id");

        fetch(`/api/v1/books/${id}`)
            .then(response => response.json())
            .then(book => renderBookInfo(book));
    }
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>